.Home {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.HomeButtons {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
}

.HomeButtons button {
  background: none;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  padding: 10px;
  font-size: large;
}
.HomeButtons button:hover {
  color: lime;
  cursor: pointer;
  border-color: lime;
}

.HomePhotoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
