.PostCard {
  width: 300px;
  height: 400px;
  margin: 20px;
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PostCard div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostCard img {
  width: 80%;
  border-radius: 20px;
}

.PostCard h1 {
  margin-top: 30px;
  width: 80%;
  font-size: medium;
  font-weight: 400;
  word-wrap: break-word;
}

.PostCard svg {
  color: lightgray;
}
