.Nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}

.Nav a {
  margin: 20px;
  font-size: large;
  color: gray;
}
.Nav a:hover {
  color: lime;
}

.NavHome {
  border: none;
  border-radius: 6px;
  padding: 6px 18px;
  font-size: 16px;
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

.Nav button {
  background: lime;
  border: 1px solid gray;
  border-radius: 10px;
  color: black;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.Nav button:hover {
  cursor: pointer;
}
